body {
  margin: 0;
}

.button {
  outline: none;
  border: none;
  border-radius: 5px;
  height: 2rem;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-right: 15px;
}

.button__primary {
  background-color: #00aeeb;
  color: white;
}

.button__secondary {
  background-color: #E3E5E7;
  color: #61666d;
}

.button__secondary:hover {
  background-color: #f1f2f3;
}

.button__primary:hover {
  background-color: #39b5e7;
}
